In [41]:
import  pandas as pd

In [45]:
student_majors_df =  pd.read_csv("./inputs/StudentsMajorsList.csv",delimiter=",",header=None)
student_majors_df.columns = ["Student_ID","Last_name","First_name","Major","Disciplinary"]

student_majors_df = student_majors_df.set_index('Student_ID')
student_majors_df

           Last_name First_name                         Major Disciplinary
Student_ID
305671         Jones        Bob        Electrical Engineering          NaN
987621          Wong       Chen              Computer Science          NaN
323232         Rubio      Marco  Computer Information Systems          NaN
564321         Awful    Student              Computer Science            Y
769889           Boy       Sili  Computer Information Systems            Y
156421        McGill        Tom        Electrical Engineering          NaN
999999        Genius       Real                       Physics          NaN

In [49]:
student_gpa_df =  pd.read_csv("./inputs/GPAList.csv",delimiter=",",header=None)
student_gpa_df.columns = ["Student_ID","GPA"]
student_gpa_df = student_gpa_df.set_index('Student_ID')
student_gpa_df

             GPA
Student_ID
156421      3.40
305671      3.10
323232      3.80
564321      2.20
769889      3.90
987621      3.85
999999      4.00

In [50]:
student_graduation_df =  pd.read_csv("./inputs/GraduationDatesList.csv",delimiter=",",header=None)
student_graduation_df.columns = ["Student_ID","Date"]
student_graduation_df =  student_graduation_df.set_index('Student_ID')
student_graduation_df

                 Date
Student_ID
999999       6/1/2022
987621       6/1/2023
769889       6/1/2022
564321       6/1/2023
323232       6/1/2021
305671       6/1/2020
156421      12/1/2022

In [63]:
full_roster = []
student_IDs = student_majors_df.index

for id in student_IDs:

    try:
        temp = [id,student_majors_df.loc[id,'Major'],student_majors_df.loc[id,'First_name'],student_majors_df.loc[id,'Last_name'],student_gpa_df.loc[id,'GPA'],student_graduation_df.loc[id,'Date'],student_majors_df.loc[id,'Disciplinary']]
        full_roster.append(temp)
    except KeyError:
        pass

full_roster_df = pd.DataFrame(full_roster,columns=["ID","Major","Fname","Lname","GPA","Date","Disciplinary"])
full_roster_df.sort_values(by=["Lname"],ascending=True,inplace=True)
full_roster_df.to_csv("./outputs/FullRoster.csv",header=None,index=None)

In [67]:
headers = ["Student_ID","Lname","Fname","Gdate","Disciplinary"]

majors = student_majors_df["Major"].unique()

for major in majors:
    temp_list = []
    student_IDs = student_majors_df[student_majors_df['Major'] == major].index

    for id in student_IDs:

        try:
            temp = [id,student_majors_df.loc[id,'Last_name'],student_majors_df.loc[id,'First_name'],student_graduation_df.loc[id,'Date'],student_majors_df.loc[id,'Disciplinary']]
            temp_list.append(temp)
        except KeyError:
            pass
    filename = str(major).replace(" ","") + ".csv"
    full_roster_df = pd.DataFrame(temp_list,columns=["ID","Lname","Fname","Date","Disciplinary"])
    full_roster_df.sort_values(by=["ID"],ascending=True,inplace=True)
    full_roster_df.to_csv("./outputs/"+filename,header=None,index=None)

In [70]:
scholar_candidates = []
student_IDs = student_gpa_df[student_gpa_df['GPA'] > 3.8].index

for id in student_IDs:

    try:
        temp = [id,student_majors_df.loc[id,'Last_name'],student_majors_df.loc[id,'First_name'],student_majors_df.loc[id,'Major'],student_gpa_df.loc[id,'GPA']]
        scholar_candidates.append(temp)
    except KeyError:
        pass

scholar_candidates_df = pd.DataFrame(scholar_candidates,columns=["ID","Lanme","Fname","Major","GPA"])
scholar_candidates_df.sort_values(by=["GPA"],ascending=False,inplace=True)
scholar_candidates_df.to_csv("./outputs/ScholarshipCandidates.csv",header=False,index=False)

In [88]:
discipline = []
student_IDs = student_majors_df[student_majors_df['Disciplinary'] == 'Y'].index

for id in student_IDs:

    try:
        date = str(student_graduation_df.loc[id,'Date']).replace("/","_").replace("-","_").split("_")
        print(date)
        temp = [id,student_majors_df.loc[id,'Last_name'],student_majors_df.loc[id,'First_name'],date[0],date[1],date[2],student_graduation_df.loc[id,'Date']]
        discipline.append(temp)
        print(discipline)
    except KeyError:
        pass

discipline_df = pd.DataFrame(discipline,columns=["ID","Lanme","Fname","Date","Month","Year","Original_Date"])
discipline_df.sort_values(by=["Year","Month","Date"],ascending=True,inplace=True)
discipline_df.to_csv("./outputs/DisciplineStudents.csv",header=False,index=False,columns=["ID","Lanme","Fname","Original_Date"])

['6', '1', '2023']
[[564321, 'Awful', 'Student', '6', '1', '2023', '6/1/2023']]
['6', '1', '2022']
[[564321, 'Awful', 'Student', '6', '1', '2023', '6/1/2023'], [769889, 'Boy', 'Sili', '6', '1', '2022', '6/1/2022']]